#heading{
    text-align: center;
}

.current-Player{
    text-align: center;
}

.board {
    display: flex;
    justify-content: center; 
    margin: 0px 0px; 
}

.cell {
    width: 130px;
    height: 130px;
    background-color: #e0ebeb;
    border: 2px solid #94b8b8;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 24px; 
}

.cell:hover{
    background-color: #d0e1e1;
}

.resetButton{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #94b8b8;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.container {
    text-align: center;

}

@media (max-width: 480px) { 
    .cell {
        width: 80px;
        height: 80px;
        font-size: 18px; 
        
    }

    .resetButton {
        padding: 8px 16px; 
        font-size: 14px; 
    }

    .container{
        margin:10px 5px;
    }
}

@media (max-width: 768px) { 
    .cell {
        width: 100px;
        height: 100px;
        font-size: 20px; 
    }
}